<!DOCTYPE html>

<meta charset="utf-8">
<html>
<head>
</head>
<body>
<div_form id = "formulario">
<h2>Formulario de cadastro de Cliente</h2>
<%= form_for :cliente, :action => cliente_cadastro_path do |f| %>
  CPF de clientes: <%= f.text_field :cpf %><br/ >
  Nome do cliente : <%= f.text_field :nome %><br />
  Endreco do cliente : <%= f.text_field :endereco %><br />
  Telefone    : <%= f.text_field :telefone %><br />
  <%= f.submit %>
<% end %>
Consulte a lista de cliente <a href='consulta'>Aqui</a>
</div>
</body>


</html>