<p><table border="1" align="center">
  <thead>
  <tr>
    <th><strong>Placa</strong></th>
    <th><strong>Valor</strong></th>
    <th>Pago Em (AAAA/MM/DD)</th>
    <th>CODIGO</th>
    <th>EXCLUIR</th>
  </tr>
  </thead>
  <tr>
    <% @consulta.each do |f| %>
    <%= form_for :pagamento, :action => pagamento_delete_path do |j| %>
    <td><strong><%= f.placa %></strong></td>
    <td><strong><%= f.valor%></strong></td>
    <td><%= f.created_at %></td>
    <td><%= j.text_field :cod, :readonly => true, :value => f.id %></td>
    <td><strong><%= j.submit "DELETAR PAGAMENTO" %></strong></td>
    <% end %>
  </tr>
<% end %>
</p>
Teste com sucesso de consulta dos pagamentos existentes. Clique <a href='pagreg'> aqui </a> para voltar<br>
<p>Consulte a View de DELETE clicando <a href='form' id='delete_pagreg'>aqui</a> 


</table>