<!DOCTYPE html>

<meta charset="utf-8">
<html>
<head>
<style>
    .leftbody{
        text-align: left;
    }
</style>
<table border="1" align="center">
  <tr>
    <th>Placa</th>
    <th>Data - Hora</th>
    <th>Origem</th>
    <th>Destino</th>
    <th>Distancia</th>
  </tr>
 
<% @listar.each do |list| %>
  <tr>
    <td><%= list.placa %></td>
    <td><%= list.created_at %></td>
    <td><%= list.origem %></td>
    <td><%= list.destino %></td>
    <td><%= list.distancia %></td>
    </tr>
<% end %>
</table>
  

</head>
<body>


    <div class = "leftbody">
        
	<h2>Formulário de cadastro de Reboque</h2>
	<fieldset style="float: left; width: 550px; background-color:black;">
	    <legend>Preencha o Formulário abaixo</legend>
    <%= form_for :reboque, :action => reboque_cadreb_path do |f| %>
    <label for="placa">PLACA</label><%= f.select :placa, options_for_select(Carro.all.collect {|p| [p.placa]})  %> <br>
    <label for="km">KM</label> <%= f.text_field :km, :id=> "km_form" %> <br>
    <label for="origem">Origem</label> <%= f.text_area :origem, :id=> "origem_form" %> <br>
    <label for="destino">Destino</label> <%= f.text_area :destino, :id=> "destino_form" %> <br>
    <label for="distancia">Distancia</label> <%= f.text_area :distancia, :id=> "distancia_form" %> <br>
    <%= f.submit :id =>"submit_reboque"%>
    <% end %></fieldset>

</div>

</div>
</body>
</html>