<!DOCTYPE html>

<meta charset="utf-8">
<html>
<head>
	<title>ADM -- Reboque</title>
	
	<h1>Listando Reboques</h1>
 
<table border="1" align="center">
  <tr>
    <th>Placa</th>
    <th>Data - Hora</th>
    <th>Origem</th>
    <th>Destino</th>
    <th>Distancia</th>
  </tr>
 
<% @listar.each do |list| %>
  <tr>
    <td><%= list.placa %></td>
    <td><%= list.created_at %></td>
    <td><%= list.origem %></td>
    <td><%= list.destino %></td>
    <td><%= list.distancia %></td>
    </tr>
<% end %>
</table>
  

</head>
<body>


    <div id = "formulario">
	<h2>Formulário de cadastro de Reboque</h2>
    <%= form_for :reboque, :action => reboque_cadreb_path do |f| %>
    <p class="name">
        <%= f.select :placa, options_for_select(Carro.all.collect {|p| [p.placa]})  %>
    </p>
    <p class="name">
        <label for="km">KM</label>
        <%= f.text_field :km, :id=> "km_form" %>
    </p>
    <p class="text">
        <label for="origem">Origem</label>
        <%= f.text_area :origem, :id=> "origem_form" %>
    </p>
    <p class="text">
        <label for="destino">Destino</label>
        <%= f.text_area :destino, :id=> "destino_form" %>
    </p>
    <p class="text">
        <label for="distancia">Distancia</label>
        <%= f.text_area :distancia, :id=> "distancia_form" %>
    </p>
    <p class="submit">
        <%= f.submit :id =>"submit_reboque"%>
    </p>
    </form>
    <% end %>

</div>

</div>
</body>
</html>