<p><table border="1" align="center">
  <thead>
  <tr>
    <th><strong>CPF</strong></th>
    <th><strong>NOME</strong></th>
    <th><strong>ENDERECO</strong></th>
    <th><strong>TELEFONE</strong></th>
    <th>EXCLUIR CLIENTE</th>
  </tr>
  </thead>
  <tr>
    <% @consulta.each do |f| %>
    
    <td><strong><%= f.cpf  %></strong></td>
    <td><strong><%= f.nome%></strong></td>
    <td><strong><%= f.endereco %></strong></td>
    <td><strong><%= f.telefone %></strong></td>
    <td><%= link_to "Detete", cliente_updateform_path(:cpf => f.cpf), method: "post", id: 'delete' %></td>
    </tr>
    <% end %>
    </table>
</p>
Teste com sucesso de consulta dos clientes existentes. Clique <a href='cadastro'> aqui </a> para voltar<br>



