<!DOCTYPE html>

<meta charset="utf-8">
<html>
<head>
	<title>ADM -- Veiculo</title>
	
</head>

<body>



	<h2>Formulario de cadastro de Veiculos</h2>
	
	
<%= form_for :carro, :action => carro_cardastro_path do |f| %>
<div style=position:absolute;margin-left:350px;margin-top:-25px;width:689px;height:100px;z-index:1>
  <fieldset>
	  <legend>Preencha o formulario a seguir:</legend>
  Placa do carro (LLL-NNNN):  <%= f.text_field :placa, :maxlength => 8, :required => true %><br>
  Marca do carro   : <%= f.text_field :marca, :required => true %><br>
  Modelo do carro : <%= f.text_field :modelo, :required => true %><br>
  Listagem dos clientes abaixo. Selecione em qual deles será salvo os dados do carro digitado acima: <br>
  Nome do cliente :
  <%= f.select :cliente, options_for_select(Cliente.all.collect {|p| [p.nome]})  %>
  <%= f.submit "Salvar carro com este cliente" %><br>
  </select>
  </fieldset>
<% end %>
Para acessar a view de consulta de carros clique <a href='consulta'>Aqui</a></div>

</body>
</html>